*{
    padding: 0;
    margin: 0;
}
#top{
background-color: #B58831;
width: 100%;
height: 300px;
}

#topTxt{
padding: 5rem;
font-size: 4rem;
display: flex;
justify-content: center;
font-family: 'IBM Plex Sans KR';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;

color: #FFFFFF;

}


#bot{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 4rem;
    background: #C9A050;
}

#botDiv{
    padding: 5rem;
    color: #fff;
    text-align: center;
}

#text{
padding: 1rem;
font-size: 5rem;
font-weight: 400;
font-family: 'Homenaje';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 44px;
color: #000000;
}

#textD{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Homenaje';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    
    color: #000000;
}

#button{
background: #C9B472;
padding: .5rem;
font-size: 1.3rem;
font-weight: 600;
border: 2px solid #000000;
border-radius: 2rem;
cursor: pointer;
}
